.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
    background-color: black;
}
.bunniButton{
    margin-top: 750px;
    width: 100px;
    height: 50px;
    font-size: 25px;
}
.bunniButton:active{
    background-color: grey;
}   
.pause{
    width: 100px;
    height: 50px;
    font-size: 25px;
}
.pause:active{
    background-color: gray;
}